{% extends 'base.html' %}
{% load review_extras %}
{% block content %}
    {% if instance.user == request.user %}
        {% if instance|model_type == 'Ticket' %}
            <p>Voulez vous vraiment supprimer le Ticket : {{ instance.title }} ?</p>
            <form method="post">
                {{ delete_form }}
                {% csrf_token %}
                <button type="submit" >Oui</button> <button><a href="{% url 'posts' %}">retour</a></button>
            </form>
        {% elif instance|model_type == 'Review' %}
            <p>Voulez vous vraiment supprimer le commentaire : {{ instance.headline }} ?</p>
            <form method="post">
                {{ delete_form }}
                {% csrf_token %}
                <button type="submit" >Oui</button> <button><a href="{% url 'posts' %}">retour</a></button>
            </form>
        {% endif %}
    {% else %}
        <p>Vous ne pouvez supprimer que des tickets ou commentaires dont vous êtes l'auteur.</p>
    {% endif %}
{% endblock content %}