{% extends 'base.html' %}
{% block content %}
    <a href="{% url 'ticket_add' %}">Créer ticket</a>
    <a href="{% url 'review_add' %}">Créer commentaire</a>
    <a href="{% url 'follow_users' %}">abonnement</a>
    <h2>Tickets</h2>
    {% for ticket in tickets %}
        {% include 'review/ticket.html' with ticket=ticket %}
    {% endfor %}

    <h2>Reviews</h2>
    {% for review in reviews %}
        {% include 'review/review.html' with review=review %}
    {% endfor %}
{% endblock content %}
