{% extends 'base.html' %}
{% block content %}
    <h2>Modifier le commentaire :</h2>
    {% include 'review/partial/review.html' with review=review update_button=False%}
    <form method="post">
        {{ edit_form.as_p }}
        {% csrf_token %}
        <button type="submit" >Sauvegarder</button>
    </form>
    <hr>
    <h3>Supprimer le commmentaire ?</h3>
    <form method="post">
        {{ delete_form }}
        {% csrf_token %}
        <button type="submit" >Supprimer</button>
    </form>
{% endblock content %}