<div class="review">
    {% if review.user == request.user %}
        <p class="review__user">Vous avez publié une critique</p>
    {% else %}
        <p class="review__user">{{review.user}} a publié une critique</p>
    {% endif %}
    <p class="review__time">{{review.time_created}} </p>
    <h3>{{review.headline}} -
        {% if review.rating == 0 %}
            <i class="review__rating__star">☆☆☆☆☆</i>
        {% elif review.rating == 1 %}
            <i class="review__rating__star">★☆☆☆☆</i>
        {% elif review.rating == 2 %}
            <i class="review__rating__star">★★☆☆☆</i>
        {% elif review.rating == 3 %}
            <i class="review__rating__star">★★★☆☆</i>
        {% elif review.rating == 4 %}
            <i class="review__rating__star">★★★★☆</i>
        {% else %}
            <i class="review__rating__star">★★★★★</i>
        {% endif %}
    </h3>
    <p>{{review.body}}</p>
    <div>
        {% include 'review/ticket.html' with ticket=review.ticket detailed=False %}
    </div>
    {% if review.user == request.user %}
        <a href="{% url 'review_update' review.id %}">Modifier la critique</a>
    {% endif %}
</div>