@mixin box{
  border: 2px;
  padding: 15px;
  margin-top: 25px;
  margin-left: 60px;
  margin-right: 60px;
  box-sizing: content-box;
  border-style: solid;
  border-radius:5px;
}

@mixin feed-box{
  @include box;
  &__user {
  font-size: small;
  }
  &__time {
    font-size: x-small;
    text-align: right;
  }
  &__link {
    text-align: center
  }
  &__edit {
    display:flex;
    justify-content: right;
  }
}

/* Ticket and review div */
.ticket {
  @include feed-box;
}


.review {
  @include feed-box;
}

#id_rating {
    display: flex;
    justify-content: space-around;
}

/* The sidebar menu */
.sidebar {
    display: flex;
    align-items: center;
    border: 2px;
    box-sizing: content-box;
    border-style: solid;
    border-radius:2px;
    & p {
        float: right;
        width: 40%;
        padding: 14px 16px;
    }
    & h1 {
        width: 20%;
        text-align: center;
    }
    & ul {
        display: flex;
        align: right;
        width: 650px;
        & li {
        display: inline-block;
        padding: 14px 16px;
            & a {
                text-decoration: none;
                color: black;
                &:hover {
                    color: blue;
                }
            }
        }
    }
}

#disconnected {
            width: 100%;
        }

.login {
    display: flex;
    border: 10px;
    box-sizing: content-box;
    align-items: center;
    & div {
        width: 50%;
        border: 10px;
        display: block;
        box-sizing: content-box;
        align-items: center;
        text-align: center;
    }
}

.signup {
    width: 50%;
    border: 10px;
    display: block;
    box-sizing: content-box;
    margin-left: 25%;
    align-items: center;
    text-align: center;
    & .helptext {
        visibility: hidden;
        position: absolute;
        opacity: 0;
    }
    & input:hover + .helptext {
        visibility: visible;
        opacity: 1;
    }
}

.add_user {
    @include box;
    & form {
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
}

.user_follow {
    @include box;
    & div {
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
}

.review_form {
    @include box;
    & input, textarea {
        width:100%;
    }
    & #image-clear_id {
        width:15px;
    }
}

.feed_button {
        display:flex;
        align-items: center;
        justify-content: space-around;
        & button {
            margin:10px;
            font-size: Large;
        }
}

button {
    margin:2px;
    padding:2px;
    & a {
        text-decoration: none;
        color: black;
    }
}

h2 {
    text-align:center;
}