{% load review_extras %}
<div class="review">
    {% if review.user == request.user %}
        <p class="review__user">Vous avez publié une critique</p>
    {% else %}
        <p class="review__user">{{review.user}} a publié une critique</p>
    {% endif %}
    <p class="review__time">{{review.time_created|get_posted_at_display }} </p>
    <h3>{{review.headline}} -
        {% if review.rating == 0 %}
            <i class="review__rating__star">☆☆☆☆☆</i>
        {% elif review.rating == 1 %}
            <i class="review__rating__star">★☆☆☆☆</i>
        {% elif review.rating == 2 %}
            <i class="review__rating__star">★★☆☆☆</i>
        {% elif review.rating == 3 %}
            <i class="review__rating__star">★★★☆☆</i>
        {% elif review.rating == 4 %}
            <i class="review__rating__star">★★★★☆</i>
        {% else %}
            <i class="review__rating__star">★★★★★</i>
        {% endif %}
    </h3>
    <p>{{review.body}}</p>
    <div>
        {% include 'review/partial/ticket.html' with ticket=review.ticket detailed=False %}
    </div>
    {% if update_button %}
        {% if review.user == request.user %}
            <div class="review__edit">
                <button><a href="{% url 'review_update' review.id %}">Modifier la critique</a></button>
                <button><a href="{% url 'delete' review.id 'Review' %}">Supprimer</a></button>
            </div>
        {% endif %}
    {% endif %}
</div>