html {
    font-family: Arial;
}

body {
  background-color: red;
}


.best-movie {
  border: 15px;
  padding: 15px;
  box-shadow: 3px 3px 5px 1px #49575d;
  box-sizing: content-box;
  background-color: #54646b;
  border-radius: 5px;
  display: flex;
}